h1.cover-heading Task manager
p.lead This appliction helps you to manage your tasks easily. To get started, just click the following button.
p.lead
  a.btn.btn-lg.btn-default href="#{tasks_path}" Start now ! It's free.
